<div class="center hero-unit">

<h1>Welcome to the sample app</h1>

<h2>
	This is the homepage for the 
	<%= link_to "Rails tutorial", 'http://www.railstutorial.org' %>
</h2>

	<%= link_to "Signup now !", signup_path, class: "btn btn-large btn-primary" %>


</div>

<%= link_to image_tag("rails.png", alt: "rails"), 'http://rubyonrails.org/' %>